{% extends 'authentication/base.html' %}


{% block content %}
<div class="card">
    <div class="card-header">
        <h3>Créer une proposition financière</h3>
            <div class="float-right">
            <a href="{% url 'liste-demandes-client' entreprise_id=service.entreprise.id %}" 
               class="btn btn-sm btn-secondary">
               Retour aux demandes
            </a>
        </div>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Envoyer la proposition</button>
            <a href="{% url 'toutes-demandes-rh' %}" class="btn btn-secondary">Annuler</a>
        </form>
    </div>
</div>
{% endblock %}